.modal.fade{id: "change_password", tabindex: "-1", role: "dialog", 'aria-labelledby'=>"signinLabel", 'aria-hidden'=>"true", style: 'display:none'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type=>"button", 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times; 
        %h4{class: 'modal-title', id: "signinLabel"} 
          Изменить пароль
      #change-password-body{class: 'modal-body'}
        = render 'shared/change_password_body'
