<ul class="dropdown-menu dropdown-menu-right">
<li>
<a href="/"><img style="width: 36px;height: 20px;" src="/img/ru.png" alt="Ru">
Русский
</a></li>
<li>
  <div style="padding: 3px 20px;">
<img style="width: 36px;height: 20px;" src="/img/en.png" alt="En">
English
</div>
</li>
</ul>
