.textsblocks
  %b 
    %span.fa.fa-thumbs-o-up
    Авиабилеты, отели, прокат авто
  .text-center= Setting.flights.html_safe
  %br
  .text-center= Setting.hotels.html_safe
  %br
  .text-center= Setting.car_rental.html_safe
  %br
