.textsblocks
	%b 
		%span.fa.fa-thumbs-o-up
		Авиабилеты, отели, прокат авто
	.text-center= object.get_hotels_code.try :html_safe
	%br
	.text-center= object.get_flights_code.try :html_safe
	%br
	.text-center= object.get_car_rental_code.try :html_safe
	%br
