<script type="text/javascript">
  function digitalWatch() {
    var TimezoneOffset = <%= Time.now.in_time_zone(@country.timezone).utc_offset / 60.0 / 60.0 %>;
    var localTime = new Date(); 
    var ms = localTime.getTime() + (localTime.getTimezoneOffset() * 60000) + TimezoneOffset * 3600000;
    var date = new Date(ms);
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();
    if (hours < 10) hours = "0" + hours;
    if (minutes < 10) minutes = "0" + minutes;
    if (seconds < 10) seconds = "0" + seconds;
    document.getElementById("digital_watch").innerHTML = hours + ":" + minutes + ":" + seconds;
    setTimeout("digitalWatch()", 1000);
  }
</script>
<p style="font-size: 80%; margin:0;">Время в столице</p>
<p id="digital_watch" style="font-size: 110%; font-weight: bold; margin:0;"></p>
<script type="text/javascript">
  $(document).ready(function() {
    digitalWatch();
  });
</script>
