.page-header
  %h1 Чудеса света
- Chudesa.all.order('sortorder ASC').each do |chudesa|
  .showplace_block.nonaklonniytext
    %h4
      %b=chudesa.name
    %span= raw chudesa.toptext
    .shpage_null
      -#.prevsh
        =image_tag '/img/content_arr_slider_left.png'
      .contsh
        - chudesa.showplaces.for_user(current_user).each do |showplace|
          = render :partial => 'shared/showplace', :locals => {:showplace => showplace}
      -#.nextsh
        =image_tag '/img/content_arr_slider_right.png'
    %span= raw chudesa.bottomtext
  %br
  %br
