- @bredcrumb = capture do
  - section = @category.showplaces.first.section rescue nil
  %li= link_to 'Путеводитель', '/'
  - if section
    %li= link_to section.name, "/section/"+section.tag.name
  %li.active= @category.name
=render :partial => "listener", :locals => { :blockname => @category.name }
