- @bredcrumb = capture do
  %li= link_to 'Главная', '/'
  %li= link_to 'Страны мира', '/allcountries'
  %li.active= @category.name
=render :partial => "listener", :locals => { :blockname => @category.name }
