-@bredcrumb='<li><a href="/">Главная</a></li><li><a href="/allcountries">Страны мира</a></li><li class="active">'+$setting.gorodaname+'</li>'
=render :partial => "listener", :locals => { :blockname => $setting.gorodaname }
