- set_meta_tags title: "Путеводитель", description: "AllWorld travel - это информационный сервис для путешественников, предоставляющий детальную информацию о достопримечательностях мира, а также позволяющий забронировать все необходимые сопутствующие услуги"

-@bredcrumb='<li><a href="/">Путеводитель</a></li>'
= render :partial => 'index'
