- set_meta_tags title: "Путеводитель", description: "AllWorld travel - это информационный сервис для путешественников, предоставляющий детальную информацию о достопримечательностях мира, а также позволяющий забронировать все необходимые сопутствующие услуги", keywords: "туризм, путешествие, лучшие туры, активный отдых, страны мира, лучшие страны мира, сайт туризм, туризм мира, активный туризм"

-@bredcrumb='<li><a href="/">Путеводитель</a></li>'
= render :partial => 'index'
