-@bredcrumb='<li><a href="/">Главная</a></li><li><a href="/allcountries">Страны мира</a></li><li class="active">'+@section.name+'</li>'
=render :partial => "listener", :locals => { :blockname => @section.name }
