%h4 Персональный кабинет
%p=current_user.name
%p=current_user.family
%p=current_user.email
.countries
  - countries = current_user.wish_countries
  -if countries
    .current_country
      %h4
        Страны в которые я хочу поехать
      .countries
        -countries.each do |country|
          = render partial: "shared/country", locals: { country: country }
