/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@font-face {
    font-family: "Calibri";
    src: url( /fonts/calibri.ttf ); /* IE */
    src: local("Calibri"), url("/fonts/calibri.ttf") format("truetype"); /*non-IE*/
}
@font-face {
    font-family: "Calibri Light";
    src: url( /fonts/calibril.ttf ); /* IE */
    src: local("Calibri Light"), url("/fonts/calibril.ttf") format("truetype"); /*non-IE*/
}


.search-section .items .url {
	margin-top: 3px;
	color: #008000;
}

.search-section .items ._row .cell img {
	max-width: 90px;
	max-height: 90px;
	float: left;
	margin-right: 10px;
}
.search-section h4 {
	margin-top: 30px;
}

.search-section .info-with-img {
	margin-left: 100px;
}
.marquee-container {
	white-space: nowrap;
	display: none;
}
#hidemarqueeblock {
	cursor: pointer;
}
