/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require home
 */
@font-face {
    font-family: "Calibri";
    src: url( /fonts/calibri.ttf ); /* IE */
    src: local("Calibri"), url("/fonts/calibri.ttf") format("truetype"); /*non-IE*/
}
@font-face {
    font-family: "Calibri Light";
    src: url( /fonts/calibril.ttf ); /* IE */
    src: local("Calibri Light"), url("/fonts/calibril.ttf") format("truetype"); /*non-IE*/
}


.search-section .items .url {
	margin-top: 3px;
	color: #008000;
}

.search-section .items ._row .cell img {
	max-width: 90px;
	max-height: 90px;
	float: left;
	margin-right: 10px;
}
.search-section h4 {
	margin-top: 30px;
}

.search-section .info-with-img {
	margin-left: 100px;
}
.marquee-container {
	white-space: nowrap;
	display: none;
}
#hidemarqueeblock {
	cursor: pointer;
}


.well .close {
	color: #666 !important;
	text-shadow: none !important;
	line-height: 33px;
	margin-right: 5px;
}

.well h5 {
	padding-right: 20px;
}


label {
	cursor: pointer;
}


.page-header {
	margin-top: 10px !important;
  padding: 0 !important;
  margin-bottom: 10px !important;
}

.page-header h1 {
	font-size: 20px;
  text-align: left;
  margin-top: 0;
  display: inline-block;
  color: #1b587f;
}
.greyed {
  margin: 0 -45px -16px;
  background: lightgray;
  color: #666;
  font-size: 12px;
  padding: 10px 45px 5px;
}


@media screen and (max-width: 1000px) {
	.leftmenu {
		float: none !important;
		width: 100% !important;
	}
	.fullcontent {
		float: none !important;
		width: 100% !important;
	}
	#contentbody {
    padding: 0 20px !important;
	}
	.row-point {
		height: auto !important;
		padding: 10px !important;
	}
}

@media screen and (min-width: 500px) {
	.flag_img span {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.showplace_wcorner {
		width: 100% !important;
	}
	.strani {
		width: 100%;
	}
	.flag_img {
		float: none !important;
    width: auto !important;
    border-top: 1px solid rgba(255,255,255,.15);
    height: auto;
    padding-top: 5px;
    margin-top: 5px;
	}
	.flag_img img {
    width: 35px;
    display: inline-block;
    vertical-align: middle;
	}
	.flag_img span {
    display: inline-block;
    color: white;
    margin-left: 10px;
    vertical-align: middle;
	}
	.current_country a {
		display: none;
	}
	.current_country {
		margin: 0 !important;
	}
	.current_country .strani {
		cursor: pointer;
		float: none !important;
		/*margin-bottom: 10px;*/
	}
	.current_country.opened a {
		display: block !important;
	}
	.showplace_wcorner {
		float: none !important;
	}
	.showfulltext > .next > span {
		right: 50% !important;
	}
}

@media screen and (max-width: 700px) {
	.navbar-static-top .navbar-collapse {
    width: 100%;
    left: 0px;
    padding: 0px;
	}
	.navbar-static-top .navbar-collapse ul {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
	}
	.afooter .block5 {
		width: 100%!important;
		height: auto;
	}
}

@media screen and (max-width: 1000px) {
	.afooter .afdelimit {
		display: none;
	}
	.afooter .block5 {
		width: 18%;
	}
	footer {
		height: auto !important;
	}
	.afooter {
		background: #3b7ea9 !important;
	}
	.breadcrumb {
		display: none;
	}
	.leftsearchblock {
		display: none;
	}
	#leftmenu {
		display: none;
	}
	#leftmenu.opened {
		display: block;
	}
	.open-leftmenu {
		display: block !important;
	}
	.slider {
		display: none;
	}
	.fullcontent {
		padding: 0 7px;
	}
}


.container {
	max-width: 100% !important;
}


.open-leftmenu {
	line-height: 30px;
  background: gray;
  color: white;
  background-color: #1a587f;
  cursor: pointer;
  display: none;
}
.open-leftmenu button {
	margin: 3px 0 0 0;
	float: left;
}

.crest img {
	margin: 0 auto;
	height: 70px;
}


.country_wcorner {
	width: 25% !important;
}

@media screen and (max-width: 1199px) {
	.country_wcorner {
		width: 50% !important;
	}
}

@media screen and (max-width: 600px) {
	.country_wcorner {
		width: 100% !important;
	}
}

.footer-table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	display: table;
}
.footer-cell {
	display: table-cell;
	padding: 0px 20px;
}


@media screen and (max-width: 500px) {
	.footer-table, .footer-cell {
		display: block;
		width: 100%;
		margin-top: 20px;
	}
}
.modal {
	z-index: 9999999;
}


.search-input-group {
	position: relative;
}
.search-input-group input {
	height: 40px !important;
	width: 250px !important;
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
}
.search-dropdown-menu {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	background: white;
	padding: 0;
	color: #333;
	margin-top: -10px;
	display: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-dropdown-menu ul {
	padding: 10px 0 0 0;
	list-style-type: none;
	margin: 0;
}
.search-dropdown-menu a {
	border-bottom: 1px solid rgba(0,0,0,.05);
	display: block;
	padding: 7px 15px !important;
	display: block;
	cursor: pointer;
	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.leftsearchblock {
	margin: 0 !important;
	width: auto !important;
}
.input-group-addon {
	background: transparent !important;
	border: none !important;
	line-height: 40px !important;
}
.searchbtn {
	background: transparent !important;
}
.leftsearchblock input {
	display: none !important;
}
.leftsearchblock.focused input, .leftsearchblock:hover input {
	display: block !important;
}
.leftsearchblock.focused .search-dropdown-menu, .leftsearchblock:hover .search-dropdown-menu {
	display: block;
}
.leftsearchblock.focused .input-group-addon, .leftsearchblock:hover .input-group-addon,
.leftsearchblock.focused input, .leftsearchblock:hover input {
	background: #204760 !important;
	color: white !important;
}

.api-search-results li a {
	text-decoration: none !important;
	cursor: pointer !important;
}
.api-search-results li a:hover {
	background: rgba(0, 0, 0, .05);
}
.api-search-results .picture {
	float: left;
	margin-right: 10px;
}
.api-search-results .info {
	font-size: 11px;
	color: gray;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.api-search-results .title {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.searchico {
	vertical-align: top;
	margin-top: 12.5px;
}

.search-input-group .input-group {
	z-index: 9999;
}


.fotorama__stage__frame--pano img {
	display: none;
	width: 0;
	height: 0;
	opacity: 0;
	z-index: -1;
}
.fotorama__stage__frame--pano iframe {
	width: 100%;
	height: 100%;
}

.gmnoprint {
	display: none;
}

#country-globe {
	position: absolute;
	z-index: 9999999;
	transition: all ease 300ms;
}
#country-globe:hover {
	width: 360px;
	height: 360px;
	margin: -90px 0 0 -90px;
}
