<p>Здравствуйте, <%= @resource.username || @resource.email %>!</p>

<p>Чтобы изменить пароль в Вашей учетной записи, нажмите на приведенную ниже ссылку;</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не запрашивали этого, пожалуйста, игнорируйте это сообщение. Ваш парольостанется без изменений.</p>

<p>
	С уважением,<br />
	команда AllWorld-travel,<br />
	<%= link_to "http://www.allworld-travel.com", "http://www.allworld-travel.com" %>
</p>
